﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="placeorder.aspx.cs" Inherits="PostNord.Portal.DigitalPostage.Layouts.DigitalPostage.Helpers.PlaceOrder"  %>

