﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="uploadimg.aspx.cs" Inherits="PostNord.Portal.DigitalPostage.Layouts.DigitalPostage.UploadImg"  %>
