﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WsReceipt.aspx.cs" Inherits="PostNord.Portal.DigitalPostageWS.Layouts.DigitalPostageWS.WsReceipt" DynamicMasterPageFile="~masterurl/default.master" %>

