﻿<%@ Page Title="Home Page" Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <asp:Label runat="server" ID="demoLabelStatus" />
    </body>
</html>